---
layout: default
---
{% assign Locations = site.data.locations.locations %}
{% assign count = 0 %}
<div class="content">
  <section class="hero">
    <div class="small-container">
      <h2 style="font-size: 60px;">Locations</h2>
    </div>
  </section>
  <div class="container">
    {% for i in Locations %}
      {% if count == 0 %}
        <div class="columns spacing">
          <div class="column half">
            {% for j in i %}
              {% if forloop.first == true %}
                <h3>{{j}}</h3>
              {% else %}
                <p>{{j}}<p>
              {% endif %}
            {% endfor %}
          </div>
      {% else %}
        <div class="column half">
          {% for j in i %}
            {% if forloop.first == true %}
              <h3>{{j}}</h3>
            {% else %}
              <p>{{j}}<p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% assign count = count | plus: 1 %}
      {% if count == 2 %}
        {% assign count = 0 %}
      {% endif %}
    {% endfor %}
  </div>
</div>