---
layout: default
---
{% assign count = 0 %}
<div class="content">
  <section class="hero">
    <div class="small-container">
      <h2 style: "font-size: 60px;">Menu</h2>
    </div>
  </section>
  <div class="container">
    {% for i in site.data.coffees %}
      {% if count == 0 %}
      <div class="columns spacing">
        <div class="column third">
          <a href= "coffee/{{i[1].url}}.html"><img src="images/{{i[1].image}}">
          <h3>{{i[1].name}}</h3></a>
          <p>{{i[1].short}} ${{i[1].price}}</p>
        </div>
      {% elsif count == 1 %}
      <div class="column third">
        <a href= "coffee/{{i[1].url}}.html"><img src="images/{{i[1].image}}">
        <h3>{{i[1].name}}</h3></a>
        <p>{{i[1].short}} ${{i[1].price}}</p>
      </div>
      {% else %}
      <div class="column third">
        <a href= "coffee/{{i[1].url}}.html"><img src="images/{{i[1].image}}">
        <h3>{{i[1].name}}</h3></a>
        <p>{{i[1].short}} ${{i[1].price}}</p>
      </div>
      </div>
      {% endif %}
      {% assign count = count | plus: 1 %}
      {% if count == 3 %}
        {% assign count = 0 %}
      {% endif %}
    {% endfor %}
  </div>
</div>
