---
layout: default
---
{% assign count = 0 %}
<div class="content">
  <section class="hero">
    <div class="small-container">
      <h2>Menu</h2>
    </div>
  </section>
  <div class="container">
    {% for i in site.data.coffees %}
      {% if count == 0 %}
      <div class="columns spacing">
        <div class="column third">
          <a href= "coffee/{{i.url}}.html"><img src="images/{{i.image}}"></a>
          <h3>{{i.title}}</h3>
          <p>{{i.short}} ${{i.price}}</p>
        </div>
      {% elsif count == 1 %}
      <div class="column third">
        <a href= "coffee/{{i[1]}}.html"><img src="images/{{i[3]}}"></a>
        <h3>{{i[0]}}</h3>
        <p>{{i[4]}} ${{i[2]}}</p>
      </div>
      {% else %}
      <div class="column third">
        <a href= "coffee/{{i[1]}}.html"><img src="images/{{i[3]}}"></a>
        <h3>{{i[0]}}</h3>
        <p>{{i[4]}} ${{i[2]}}</p>
      </div>
      </div>
      {% endif %}
      {% assign count = count | plus: 1 %}
      {% if count == 3 %}
        {% assign count = 0 %}
      {% endif %}
    {% endfor %}
  </div>
</div>
