<header>
    <div class="container">
      <nav class="main-nav">
        <ul>
          <li><a href="/"><button type="button" class="btn btn-secondary">Home</button></a></li>
          <li><a href="/menu.html"><button type="button" class="btn btn-secondary">Menu</button></a></li>
          <li><a href="/locations.html"><button type="button" class="btn btn-secondary">Locations</button></a></li>
        </ul>
      </nav>
      <h1><a href="/">Yay! <strong>Koffee</strong></a></h1>
    </div>
  </header>